<a href="https://colab.research.google.com/github/Leonardodarienzo/verifiche-corrette/blob/main/CorrezioneVerifica(liste).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.caricare una lista con i primi 50 numeri di 5

In [ ]:
multipli = [i for i in range(5,255,5) ]
print(multipli)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

In [ ]:
multipli = [i for i in range(5,255,5) ]

2.

In [ ]:
multipli10 = [mul for mul in multipli if mul % 10 == 0]
print(multipli10)

In [ ]:
count = 0
for val in multipli10:
  if val >= 30 and val <= 160:
    multipli10.remove(val)
    count += 1
print(multipli10)

4.caricare in una nuova lista i 5 elementi centrali

In [ ]:
print(multipli10[23:28])

print(len(multipli10))
print(multipli10[len(multipli10)//2-2:len(multipli10)//2+3]

5.moltiplicare per 10 tutti i numeri della lista precedente

In [ ]:
multiplicentrali = []
prodotti = [numero*10 for numero in multiplicentrali]
print(prodotti)

6.mettere in un unica lista tutti i valori presenti nelle liste precedenti

In [ ]:
listaunica = multipli+multipli10+multiplicentrali+prodotti
print(listaunica)

1.visualizzre lo studene che si trova al numero 10 dell'elenco

In [ ]:
studenti = [Papes,Avasiloae,Cottone,Neri,Dipace,Fontana,Bernasconi,Milella,]