<a href="https://colab.research.google.com/github/Leonardodarienzo/verifiche-corrette/blob/main/VerificaSommativaD'Arienzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Correzzione Esercizio 1

1.gli ultimi due versamenti di ogni amico: visualizzare in nome e i versamenti

In [ ]:
cassaComune={"Aldo":[10,20,40,100,5],"Gianni":[50,50,25,30],"Andrea":[200,150],"Miki":[5,5,10,15,5,5,10,5,2]}
cassaComune

{'Aldo': [10, 20, 40, 100, 5],
 'Gianni': [50, 50, 25, 30],
 'Andrea': [200, 150],
 'Miki': [5, 5, 10, 15, 5, 5, 10, 5, 2]}

In [ ]:
3.5*60.2

2.il totale versato da ogni amico: visualizzare in nome e il totale

In [ ]:
for amico,versamenti in cassaComune.items():
  print(amico,'-',sum(versamenti))

3.l’amico che ha versato di più

In [ ]:
lista=[]
for amico,versamenti in cassaComune.items():
  lista.append(sum(versamenti))
  massimo=max(lista)
for amico,versamenti in cassaComune.items():
  if sum(versamenti)== massimo:
    print(amico)

4.dato il nome di un amico, inserito dall’utente, visualizzare i suoi versamenti a partire dal minore fino al maggiore. Controllare che il nome dell’amico sia presente, altrimenti dare un messaggio di errore opportuno

In [ ]:
nc=input("inserire uno degli amici:")
if nc in cassaComune:
  print(nc ,":",sorted(cassaComune[nc]))
else:
  print("nome non presente tra gli amici")

5.Andrea ha ottenuto un rimborso premio delle sue spese: eliminarlo dalla struttura dati

In [ ]:
cassaComune.pop("Andrea")#correzione
cassaComune

In [ ]:
del cassaComune["Andrea"]
cassaComune

Esercizio 3

1.caricare il dataset nel prorio drive nella cartella colab notebooks.Caricare poi i dati in u dataframe di pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/df_3.csv')
df

2.visualizzare in due modi gli ultimi 10 record

In [ ]:
df[["Name"]].tail(11)

In [ ]:
df[["Name"]][-11:]

3.visualizzare la seconda e la terza colonna delle righe dalla 200 alla 210(comprese)

In [ ]:
df[["Name","Chief developer, company"]][200:211]

4.visualizzare i 10 record centrali.Fare in modo che il codice possa funzionare anche se dovesse cambiare la lunghezza del dataframe

In [ ]:
df.count()

In [ ]:
df[["Name","Chief developer, company","Year","Predecessor(s)"]][187:198]

5.visualizzare il numero di linguaggi di programmazione di cui non si conosce il predecessore

In [ ]:
df[df["Predecessor(s)"].isnull()].count()

6.visualizzare i linguaggi di programmazione che hanno la prola pascal nel nome

In [ ]:
df[df["Name"].str.contains("Pascal")]["Name"]

7.visualizzare i linguaggi di programmazione che hanno la parola C++ nel nome

In [ ]:
df[df["Name"].str.contains("C\+\+")]["Name"]

8.visualizzare gli anni in cui sono stati inventati più di 5 linguaggi di programmazione

In [ ]:
dfgroup=df.groupby('Year').count()[["Name"]]
dfgroup

In [ ]:
dfgroup[dfgroup.Name>5]

9.rappresentare i dati dell'esercizio precedente con un grafico a barre orizzontali, specificando bene titolo, assi e legenda.Dare colori diversi alle barre

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
dfdati = df.groupby("Year").count()[["Name"]].reset_index()
labels = dfdati['Year']
dati = dfdati['Name']


fig, ax = plt.subplots(figsize=(15,10))
ax.barh(labels, dati, label='numero di provincie per ogni regione')

Esercizio 2

1.utlizzare la list comprehension per caricare una lista da 100 numeri casuali compresi tra 1 e 20(estremi inculsi)

In [ ]:
import random
listacasuale  = [random.randint(1,20)for _ in range (100)]
print(listacasuale)

2.scrivere il codice per caricare un opportuna struttura dati(una sola struttura dati)il numero di volte che ogni numero si ripete.Ad esempio se la lista contenesse[4,5,4,2,5]bisognerebbe memorizzare nella struttura dati il fatto che il 4 si ripete tre volte, il 5 due volte, il 2 una sola volta.Chiamare lka struttura dati "ripetizioni"

In [ ]:
#correzione
ripetizioni = {i:listacasuale.count(i) for i in listacasuale}
print(ripetizioni)
print(type(ripetizioni))

3.visualizzare l'elenco dei numeri della struura dati nella forma <numero>

In [ ]:
for key,value in ripetizioni.items():
  print(key,"è stato ripetuto",value)

4.Visualizzare l’elenco precedente ordinandolo in ordine decrescente sul numero di ripetizioni